<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Car</h1>
    <p><%=foundCar.brand%></p>
<form action="/cars/<%=foundCar._id%>?_method=PUT" method="POST">
    <label for="brand">Brand</label>
    <input type="text" id="brand" name="brand" value="<%=foundCar.brand%>">
    <label for="type">Type</label>
    <input type="text" id="type" name="type" value="<%=foundCar.type%>">
    <label for="color">Color</label>
    <input type="text" id="color" name="color" value="<%=foundCar.color%>">
    <label for="hybrid"> Hybrid </label>
    <input type="checkbox" id="hybrid" name="hybrid" <%if (foundCar.hybrid){%>checked<%}%>>
<button>Update</button>
</form>

</body>
</html>